* {
    margin: 0;
	padding: 0;
}

/*-------------------------------------------CORPO-------------------------------------------------*/

.container {
	display: grid;
	grid-template-columns:1fr;
	grid-template-areas: "h"
						 "m"
						 "f"
}

header {
	background-color: #310162;
	font-family: "Audiowide", sans-serif;
    font-size: 130%;
    color: #E3580D;
	text-align: center;
	grid-area: h;
}

@media (max-width: 1000px) {
	header {
		font-size: 100%;
	}
}

#t {
	color: #E3580D;
	text-decoration: none;
}

body {
	background-color: #001459;
	background-image: url("../fundo/back3.jpg");
	font-family: sans-serif;
	overflow: hidden;
}

main {
	margin-top: 11em;
	grid-area: m;
}

@media (max-width: 1000px) {
	main {
		margin-top: 7em;
	}
}

/*-------------------------------------------LOGAR-------------------------------------------------*/

#boxfield {
	display: grid;
	justify-items: center;
}

#boxlogi {
	padding: 20px;
	text-align: center;
	font-size: 150%;
	height: 13em;
	width: 15em;
	border-radius: 20px;
	border-style: outset;
	border-color: #E3580D;
	border-width: 7px;
	background-color: #fff;
}

@media (max-width: 1000px) {
	#boxlogi {
		font-size: 100%;
	}
}

label {
	font-family: "Audiowide", sans-serif;
}

.imputbox {
	font-size: 100%;
	border-style: double;
	width: 95%;
	background: none;
}

@media (max-width: 1000px) {
	#checkbox {
		margin-top: 10px;
	}
}

#buttonlogi1 {
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 5px;
	color: white;
	padding: 12px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

@media (max-width: 1000px) {
	#buttonlogi1 {
		padding: 7px 15px;
	}
}

#buttonlogi2 {
	background-color: #CC0000; /* Red */
	border: none;
	border-radius: 5px;
	color: white;
	padding: 12px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

@media (max-width: 1000px) {
	#buttonlogi2 {
		padding: 7px 15px;
	}
}

.cadastro {
	font-size: 70%;
}

#cadastro1 {
	font-size: 100%;
	text-decoration: none;
}

#esquecer_senha {
	font-size: 70%;
	text-decoration: none;
}