* {
    margin: 0;
	padding: 0;
}

/*-------------------------------------------CORPO-------------------------------------------------*/

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "h"
						 "p"
						 "m"
						 "f"
}

header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:"t i";
	background-color: #310162;
	align-items: center;
	grid-area: h;
}

#title {
	margin-left: 92px;
	justify-self: center;
	font-size: 130%;
	font-family: "Audiowide", sans-serif;
	color: #E3580D;
	padding-right: 12px;
	grid-area: t;
}

.search {
	border-radius: 3px;
	width: 18%;
	padding: 5px;
	margin-bottom: 10px;
	margin-left: 48px;
	border-color: #000;
	border-width: 3px;
}

#perfil {
	overflow: hidden;
	padding: 1px;
	text-decoration: none;
	justify-self: center;
	grid-area: i;
}

#icon {
	display: flex;
	background-color: #000;
	border-radius: 20px;
	color: #FFFF00;
	font-size: 230%;
	margin-right: 30px;
	justify-self: center;
	text-decoration: none;
}

#name {
	font-family: "Audiowide", sans-serif;
	font-size: 150%;
}

.campoP {
	display: none;
	background-color: #333333;
	overflow: hidden;
	position: absolute;
	right: 0;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
	z-index: 1;
}

@media (max-width: 1024px) {
	.campoP {
		position: fixed;
		float: left;
	}
}

.campoP a {
	float: none;
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
}

#perfil:hover .campoP {display: block;}

#name:hover {
	background-color: #333333;
}

.campoP a:hover {
    background-color: #000;
}

.painel {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	text-align: center;
	align-items: center;
	margin-top: 2em;
	grid-gap: 2em;
	padding-left: 10em;
	padding-right: 10em;
	grid-area: p;
}

.botoes {
	color: #E3580D;
	font-size: 120%;
	cursor: pointer;
	padding-right: 30px;
}

.icones { /* Estes são os botões */
	background-color: #fff;
	border-radius: 15px;
	padding: 15px;
	border-style: solid;
	border-width: 6px;
	font-family: "Audiowide", sans-serif;
    font-size: 130%;
}

.ico { /* Estes são os icones */
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 60px;
	text-decoration: none;
}

main {
	margin-top: 2em;
	grid-area: m;
}

body {
	background-color: #001459;
	font-family: sans-serif;
	font-size: 1em;
	margin-bottom: 100px;
}

footer {
	font-family: sans-serif;
	color: #000;
	background-color: #fff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	grid-area: f;
}

@media (max-width: 1024px) {
	footer {
		font-size: 150%;
	}
}