.painel {
	display: none;
}

.icones {
	display: none;
}

.ico {
	display: none;
}

#icon {
	display: none;
}

.search {
	display: none;
}

#perfil {
	display: none;
}

a {
	display: none;
}

#lupa {
	display: none;
}

footer {
	display: none;
}

#title {
	display: none;
}

.op {
	display: none;
}