* {
    margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "h"
						 "m"
						 "f";
}

header {
	background-color: #310162;
	font-family: "Audiowide", sans-serif;
    font-size: 130%;
    color: #E3580D;
	text-align: center;
	align-items: center;
	grid-area: h;
}

@media (max-width: 1000px) {
	header {
		width: 100%;
		font-size: 90%;
	}
}

main {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "s"
						 "a";
	justify-items: center;
	grid-area: m;
}

@media (max-width: 1000px) {
	main {
		align-items: center;
	}
}

fieldset {
	background-color: #fff;
	border-color: #000;
	grid-area: a;
}

@media (max-width: 1000px) {
	fieldset {
		width: 99%;
	}
}

#img {
	width: 200px;
	padding: 2px;
}

img {
	float: left;
}

@media (max-width: 1000px) {
	img {
		width: 60%;
		height: auto;
		right: 100px;
	}
}

#desc {
	padding: 6px;
	font-size: 130%;
}

@media (max-width: 1000px) {
	#desc { 
		padding: 0;
		display: -webkit-box; 
		overflow: hidden; 
		text-overflow: ellipsis;  
		-webkit-line-clamp: 3; 
		-webkit-box-orient: vertical;
		font-size: 80%;
	}
}

#fab {
	color: #CC0000;
	padding: 6px;
	font-size: 130%;
}

@media (max-width: 1000px) {
	#fab {
		font-size: 80%;
	}
}

#categ {
	padding: 6px;
	font-size: 130%;
}

@media (max-width: 1000px) {
	#categ {
		font-size: 80%;
	}
}

#valor {
	padding: 6px;
	font-size: 130%;
}

@media (max-width: 1000px) {
	#valor {
		clear: left;
		margin-left: 20px;
		font-size: 80%;
	}
}

#quanti {
	float: right;
	font-size: 20px;
	padding: 10px;
	width: 45px;
	border-color: #000;
	border-bottom: none;
	border-right: none;
}

body {
	background-color: #001459;
	background-image: url("../back3.jpg");
	font-family: sans-serif;
	font-size: 1em;
	margin-bottom: 100px;
}

#painelC {
	width: 100%;
	background-color: #E3580D;
	padding-top: 6px;
	padding-bottom: 6px;
	text-align: center;
	grid-area: s;
}

@media (max-width: 1000px) {
	#painelC {
		width: 100%;
		font-size: 80%;
	}
}

#painelCont {
	padding: 5px;
	background-color: #fff;
}

#valor_u {
	color: green;
}

#finalizar {
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 5px;
	color: white;
	margin-right: 10px;
	padding: 10px;
	width: 90px;
	font-size: 16px;
	cursor: pointer;
}

@media (max-width: 1000px) {
	#finalizar {
		width: 90px;
	}
}

#cancelar {
	background-color: #CC0000; /* Red */
	border: none;
	border-radius: 5px;
	color: white;
	margin-left: 10px;
	padding: 10px;
	width: 90px;
	font-size: 16px;
	cursor: pointer;
}

@media (max-width: 1000px) {
	#cancelar {
		width: 90px;
	}
}

footer {
	font-family: sans-serif;
	color: #000;
	background-color: #fff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	grid-area: f;
}

@media (max-width: 1000px) {
	footer {
		font-size: 80%;
	}
}
