* {
    margin: 0;
	padding: 0;
}

/*-------------------------------------------CORPO-------------------------------------------------*/

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "h"
						 "p"
						 "m"
						 "f"
}

header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:"t i";
	background-color: #310162;
	align-items: center;
	grid-area: h;
}

#title {
	justify-self: center;
	font-size: 130%;
	font-family: "Audiowide", sans-serif;
	color: #E3580D;
	grid-area: t;
}

main {
	margin-top: 2em;
	text-align: center;
	grid-area: m;
}

#manual {
	width: 900px; 
	height: 748px;
}

@media (max-width: 1024px) {
	#manual {
		width: 750px; 
		height: 948px;
	}
}

body {
	background-color: #001459;
	font-family: sans-serif;
	font-size: 1em;
	margin-bottom: 100px;
}

footer {
	font-family: sans-serif;
	color: #000;
	background-color: #fff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	grid-area: f;
}

@media (max-width: 1024px) {
	footer {
		font-size: 120%;
	}
}