* {
    margin: 0;
	padding: 0;
}

/*-------------------------------------------CORPO-------------------------------------------------*/

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "h"
						 "a"
						 "m"
						 "f"
}

header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:"t p"
						"s p";
	background-color: #310162;
	align-items: center;
	grid-area: h;
}

#title {
	margin-left: 85px;
	justify-self: center;
	font-size: 130%;
	font-family: "Audiowide", sans-serif;
	color: #E3580D;
	grid-area: t;
}

@media (max-width: 1000px) {
	#title {
		font-size: 100%;
		margin-right: 35px;
	}
}

.search {
	border-radius: 12px;
	width: 17%;
	padding: 3px;
	border :none;
	margin-bottom: 12px;
	margin-left: 75px;
	justify-self: center;
	grid-area: s;
}

@media (max-width: 1000px) {
	.search {
		width: 65%;
		margin-right: 25px;
	}
}

#icon {
	display: flex;
	background-color: #000;
	border-radius: 20px;
	color: #E3580D;
	font-size: 230%;
	justify-self: center;
	cursor: pointer;
	margin-right: 30px;
	text-decoration: none;
	grid-area: p;
}

@media (max-width: 1000px) {
	#icon {
		margin-right: 10px;
	}
}

main {
	text-align: center;
	padding: 50px;
	justify-self: center;
	grid-area: m;
}

aside {
	background-color: #000;
	grid-area: a;
}

.botoes {
	color: #E3580D;
	font-family: "Audiowide", sans-serif;
	font-size: 120%;
	cursor: pointer;
}

.dropdown {
	float: left;
	overflow: hidden;
	margin-left: 40px;
}

.dropdown-content {
  display: none;
  background-color: #333333;
  overflow: hidden;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.produtos-grid {
	display: grid;
	grid-template-columns: 0.2fr 0.2fr 0.2fr;
	grid-gap: 2em;
}

@media (max-width: 1000px) {
	.produtos-grid {
		grid-template-columns: 1fr;
	}
}

body {
	background-color: #001459;
	background-image: url("back3.jpg");
	font-family: sans-serif;
	font-size: 1em;
}

footer {
	
	font-family: sans-serif;
	color: #000;
	background-color: #fff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	grid-area: f;
}

fieldset {
	background-color:#fff;
	border-radius: 5px;
	padding: 1%;
	border: none;
}