* {
    margin: 0;
	padding: 0;
}

/*-------------------------------------------CORPO-------------------------------------------------*/

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "h"
						 "m"
						 "f"
}

header {
	display: grid;
	grid-template-columns: 1fr 0.06fr;
	grid-template-areas:"t b"
						"s b";
	background-color: #310162;
	font-family: "Audiowide", sans-serif;
    font-size: 130%;
    color: #E3580D;
	text-align: center;
	align-items: center;
	grid-area: h;
}

#title {
	margin-left: 92px;
	grid-area: t;
}

.search {
	justify-self: center;
	border-radius: 12px;
	width: 17%;
	padding: 3px;
	border :none;
	margin-bottom: 12px;
	margin-left: 95px;
	grid-area: s;
}

.botoes {
	display: flex;
	background-color: #000;
	border-radius: 20px;
	color: #E3580D;
	font-size: 180%;
	text-decoration: none;
	justify-self: center;
	grid-area: b;
}

main {
	margin-top: 2em;
	margin-left: 5em;
	margin-right: 5em;
	grid-area: m;
}

.produtos-grid {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr 0.5fr;
	grid-gap: 2em;
}

@media (max-width: 1000px) {
	.produtos-grid {
		grid-template-columns: 1fr;
	}
}

body {
	background-color: #001459;
	background-image: url("back3.jpg");
	font-family: sans-serif;
	font-size: 1em;
}

footer {
	
	font-family: sans-serif;
	color: #000;
	background-color: #fff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	grid-area: f;
}

fieldset {
	background-color:#fff;
	border-radius: 5px;
	padding: 1%;
	border: none;
}