* {
    margin: 0;
	padding: 0;
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "h"
						 "m"
						 "f"
}

header {
	background-color: #310162;
	font-family: "Audiowide", sans-serif;
    font-size: 130%;
    color: #E3580D;
	text-align: center;
	align-items: center;
	grid-area: h;
}

@media (max-width: 1000px) {
	header {
		font-size: 90%;
	}
}

main {
	margin-top: 2em;
	font-family: sans-serif;
	justify-self: center;
	text-align: center;
	color: #fff;
	font-size: 25px;
	grid-area: m;
}

.campo {
	width: 90%;
	font-size: 20px;
	border: none;
	border-radius: 4px; 
	text-align: center;
}

#salvar {
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 5px;
	color: white;
	padding: 12px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

#voltar {
	background-color: #CC0000; /* Red */
	border: none;
	border-radius: 5px;
	color: white;
	padding: 12px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
}

body {
	background-color: #001459;
	font-family: sans-serif;
	font-size: 1em;
	margin-bottom: 100px;
}