* {
    margin: 0;
	padding: 0;
}

/*------------------------------------------- CORPO -------------------------------------------------*/

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: "h"
						 "a"
						 "m"
						 "f"
}

header {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas:"t c p"
						"s c p";
	background-color: #310162;
	align-items: center;
	grid-area: h;
}

#title {
	margin-left: 140px;
	justify-self: center;
	font-size: 130%;
	font-family: "Audiowide", sans-serif;
	color: #E3580D;
	grid-area: t;
}

@media (max-width: 1000px) {
	#title {
		font-size: 100%;
		margin-left: 52px;
	}
}

@media (width: 1024px) {
	#title {
		margin-left: 48px;
	}
}

.search {
	border-radius: 12px;
	width: 18%;
	padding: 3px;
	border :none;
	margin-bottom: 12px;
	margin-left: 140px;
	justify-self: center;
	grid-area: s;
}

@media (max-width: 1024px) {
	.search {
		margin-left: 52px;
		width: 65%;
	}
}

/*-------------------------- Logar-se --------------------------*/

#icon {
	display: flex;
	background-color: #000;
	border-radius: 20px;
	color: #E3580D;
	font-size: 230%;
	justify-self: center;
	cursor: pointer;
	margin-right: 30px;
	text-decoration: none;
	grid-area: p;
}

@media (max-width: 1000px) {
	#icon {
		margin-right: 10px;
	}
}

/*-------------------------- Carrinho --------------------------*/

#cart {
	margin-right: 30px;
	color: #fff;
	font-size: 230%;
	grid-area: c;
}

@media (max-width: 1024px) {
	#cart {
		position: absolute;
		top: 18px;
		left: 12px;
		right: 8em;
	}
}

/*-------------------------------------------------------------*/

main {
	text-align: center;
	padding: 50px;
	justify-self: center;
	grid-area: m;
}

aside {
	background-color: #000;
	grid-area: a;
}

/*----------------------- Categoria -----------------------*/

.categoria {
	color: #E3580D;
	font-family: "Audiowide", sans-serif;
	font-size: 120%;
	cursor: pointer;
}

@media (max-width: 1000px) {
	.categoria {
		font-size: 100%;
	}
}

.dropdown {
	float: left;
	overflow: hidden;
	margin-left: 40px;
	cursor: pointer;
}

.dropdown-content {
  display: none;
  background-color: #333333;
  overflow: hidden;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.produtos-grid {
	display: grid;
	grid-template-columns: 0.2fr 0.2fr 0.2fr;
	grid-gap: 2em;
}

@media (max-width: 1000px) {
	.produtos-grid {
		grid-template-columns: 1fr;
	}
}

body {
	background-color: #001459;
	background-image: url("back3.jpg");
	font-family: sans-serif;
}

footer {
	
	font-family: sans-serif;
	color: #000;
	background-color: #fff;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	grid-area: f;
}

/*----------------------- Produtos -----------------------*/

fieldset {
	width: 300px; 
	height: 450px;
	background-color:#fff; 
	padding: 1%; 
	border-style: double; 
	border-color: #310162; 
	border-width: 7px; 
	border-radius: 5px;
}

#desc {
	display: -webkit-box;
	text-align: left; 
	overflow: hidden; 
	text-overflow: ellipsis;  
	-webkit-line-clamp: 2; 
	-webkit-box-orient: vertical;
}

#fab {
	float: left; 
	color: #CC0000;
}

#fabVis {
	 width: 98%; 
}

#categVis {
	 width: 98%;
}

#valor {
	margin-top: 5em;
}

#valVis {
	width: 98%;
	color: #000;
}

#compra {
	padding: 4px; 
	font-size: 100%; 
	border-radius: 7px; 
	width: 30%; 
	margin-right: 5px;
}

#ver {
	padding: 4px; 
	font-size: 100%; 
	border-radius: 7px; 
	width: 30%;
}